<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Orders', orders_path, class: "hoverable" %></li>
      <li><%= link_to 'Baking List', bakeinfo_path, class: "hoverable" %></li>
    </ul>
    <ul class="right">
      <li><%= link_to 'Logout', logout_path, class: "hoverable" %></li>
    </ul>
  </div>
</nav>