<nav id="nav">
  <div class="container">
    <ul class="left">
      <li><%= link_to 'Items', items_path %></li>
    </ul>
    <ul class="right">
      <li><%= link_to 'Login', login_path %></li>
    </ul>
    <ul class="right">
      <li><%= link_to 'Create Account', new_customer_path %></li>
    </ul>
  </div>
</nav>