<div id='main_content'>


    <h4><center>About Us</center></h4>


    <div class="card">
      <div class="card-content">
        <p>
          We believe in quantity over quality. We have a strong background in baking and will make sure to make you proud. 
        </p>
        <br>
        <p>        
          Don't wait to make your order. Do it right away!
        </p>
      </div>
    </div>
</div>