<div id='main_content'>

    <h4><center>Contact Us</center></h4>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Contact Information</span>
        <table cellpadding="3">
          <tr>
            <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
            <td>Anish Krishnan</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
            <%= mail_to("anishkrishnan@cmu.edu", "anishkrishnan@cmu.edu", encode: "javascript") %> 
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>408-666-6313</td>
          </tr>
        </table>
      </div>
    </div>
</div>