<%# render partial: "partials/form_structure", locals: {object: @customer, 
                                                        type_of_form: "New Customer",
                                                        fields: "fields"} %>

<% if !@user_with_errors.nil? %>
  <li><% @user_with_errors.errors.full_messages %></li>
<% end %>

<%= render partial: "partials/form2_structure", locals: {object: @customer,
                                                        type_of_form: "New Customer",
                                                        fields1: "fields",
                                                        section_2: "User Account",
                                                        fields2: "user_fields"} %>