


  <% if @pending_orders.empty? %>
    <p><em>There are no pending orders at this time.</em></p>
  <% else %>
    <%= render :partial => "order_list", locals: {status: 'Pending', orders: @pending_orders} %>  
  <% end %>

  <% if @past_orders.empty? %>
    <p><em>There are no past orders at this time.</em></p>
  <% else %>
    <%= render :partial => "order_list", locals: {status: 'Past', orders: @past_orders} %>  
  <% end %>

<br />